In [1]:
import pandas as pd

In [2]:
pred_file="../results/train_with_unlabelled_target/results/wolves/Main/comp4_det_test_w.txt"
img_folder="../data/wolves/park2_test/JPEGImages/"

In [8]:
df = pd.read_csv(pred_file, delimiter=" ", names=["img","prob","",4,5,6])
df

                                     1      2       3      4       5       6
0      image23-01-14_20-43-34-12_01963  0.145  1855.1    1.0  1919.8   124.0
1      image23-01-14_20-43-34-12_01963  0.133  1859.3    1.0  1919.8    14.1
2      image23-01-14_20-43-34-12_01963  0.100   363.0  578.4   443.9   637.7
3      image23-01-14_20-43-34-12_01963  0.079   359.2  545.4   421.4   611.4
4      image23-01-14_20-43-34-12_01963  0.075     1.1    1.0    26.1     2.8
...                                ...    ...     ...    ...     ...     ...
10574  image23-01-13_13-22-15-59_00152  0.000   190.4  522.2   230.6   549.8
10575  image23-01-13_13-22-15-59_00152  0.000    85.2  820.0   133.8   880.8
10576  image23-01-13_13-22-15-59_00152  0.000   237.0  496.3   281.3   537.1
10577  image23-01-13_13-22-15-59_00152  0.000   209.9  517.7   235.7   540.3
10578  image23-01-13_13-22-15-59_00152  0.000   141.6  951.1   206.8  1023.7

[10579 rows x 6 columns]